[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rdflib = "*"
jupyterlab = "*"
jupytext = "*"
requests-cache = "*"
langid = "*"
reconciler = "*"
pandas = "*"
fuzzywuzzy = {extras = ["speedup"], version = "*"}
rapidfuzz = "*"
levenshtein = "*"
linkml = "*"
truecase = "*"
openai = "*"
dateparser = "*"
tqdm = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.10"
